<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>794160751237-3bci921e91qdcus1v1lvq0m690d9p6vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794160751237-3bci921e91qdcus1v1lvq0m690d9p6vn</string>
	<key>API_KEY</key>
	<string>AIzaSyAhl6PuUoSLD7lCVvMPTuijvuXZS--khMc</string>
	<key>GCM_SENDER_ID</key>
	<string>794160751237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.turnout</string>
	<key>PROJECT_ID</key>
	<string>turnout-6afda</string>
	<key>STORAGE_BUCKET</key>
	<string>turnout-6afda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794160751237:ios:eb2477f88bb97deb</string>
	<key>DATABASE_URL</key>
	<string>https://turnout-6afda.firebaseio.com</string>
</dict>
</plist>